nav ul li a{
	list-style-type: none;
	text-decoration: none;
	color:black;
	padding-right: 5%;
	text-align:center;
	margin-left: 3%;

}

nav ul li{
	display: inline;
}
nav ul{
	text-align: center;
	margin-left: 3%;
	margin-bottom: 2.5%;
}
.titulo h1{
	text-align: center;
	margin-bottom: 2%;
	color:#1c2a50;
	font-size: 190%;
}
.nosotros{
	background-image: url(../img/dance_7.jpg);
	background-size: 150%;
	height: 450px;
}
.centro h1{
	font-size: 200%;
	color:white;
}
.centro p{
	color: white;
}
.centro{
	position: relative;
	left: 25%;
	margin-top: 10%;
	text-align: center;
	background:rgba(29,29,30,0.4);
	width: 45%;
	height: 150px;
	padding: 2%;
}
.tres{
	background-image: url(../img/cubes.png);
	width:100%;
<<<<<<< HEAD
	
=======
	padding:5% 1% 5% 1%;
>>>>>>> master
}
.linea{
	border-bottom: 2px gray solid;
}
.pilares{
	padding:5%;	
<<<<<<< HEAD
	width: 15%;
=======
	width: 27%;
>>>>>>> master
	text-align: center;
	margin:auto;
	margin-left: 4.9%;
}
.pilares p{
	font-size: 12px;
}
.pilares h1{
	font-size: 130%;
<<<<<<< HEAD
}
=======
}
.titulo2 h1{
	text-align: center;
	/*margin-left:1%;*/
}
.profe{
	padding:0.9%;
	height: 300px;
}
.pic{
	height: 180px;
    overflow: hidden;
    margin-bottom: 50px;
}
.titulo2{
	margin-top: 10%;

}
.profe-fila{
	margin-bottom: 10%;
}
.titulo2 h1{
	font-weight: bold;
	font-size: 170%;
}

.frase{
	background-image:url(../img/cubes.png);
	width:100%;
}


.inspiradora{
	text-align: center;
}
.inspiradora p{
	font-style:italic;
	font-size: 300%;
	padding: 10%;
}
/*.profe img{
	width: 100%;
	padding: 2%;
	height: 250px;
	overflow: hidden;

}*/
>>>>>>> master
